[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-countries = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
Django = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
celery = "*"
redis = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.8"
