[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-countries = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
Django = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
